body {
  margin: 0;
  font-family: Tahoma, sans-serif;
  font-size: 1em;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: #555;
}
nav {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
  line-height: 2em;
  padding: 0 5px;
  background: rgb(200,200,200);
  position: fixed;
  width: 100%;
  transition: .5s;
  z-index: 1000 !important;
}
nav a,
nav .dropdown {
  padding: 0 6px;
  box-sizing: border-box;
  display: inline-block;
}
nav a:hover {
  color: #222;
}

/* Dropdown menu */
.dropdown a {
  width: 6em;
}
.dropdown {
  position: relative;
}
.submenu {
  position: absolute;
  top: -12em;
  background: white;
  width: 6em;
  display: flex;
  flex-direction: column;
  transition: all 1s;
  z-index: -5000;
}
.submenu a {
  display: block;
  background: #ccc;
}
nav a[href="#page-1"] {
  background: rgb(175,175,175);
}
nav a[href="#page-1"]::after {
  content: "+";
  font-family: monospace;
  font-size: 1.25em;
  padding: 0 4px;
}
nav a[href="#page-1"]:hover::after {
  content: "-";
}
.dropdown a[href="#page-1"]:hover ~ .submenu,
.submenu:hover {
  top: 2em;
}

.smallhead {
  font-size: 1em;
  opacity: .95;
}

main {
  position: relative;
  /* height cannot be auto or 100% or min-height */
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
section[id^="page"] {
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em;
}
/* section[id^="page"]:last-child {
  background: silver;
  height: auto;
} */
section img {
  width: 100%;
}

h1 {
  font-size: 2.5em;
  margin: 0;
  padding-top: 1.5em;
}
h2 {
  font-size: 1em;
  margin: 0;
  padding-top: 0.5em;
}
p a:hover {
  text-decoration: underline;
}

/* ====== Research section ====== */
.panels {
  display: flex;
  flex-direction: column;
}
.panels section {
  width: 90%;
}
.panels h1 {
  font-size: 1em;
  padding-top: 0;
}

a.top {
  position: absolute;
  bottom: 0;
  display: block;
  box-sizing: border-box;
  width: 100%;
  text-align: right;
  line-height: 2.5em;
  padding: 0 10px;
  background: #eee;
}
/* ====== Contact section ====== */
/* figure {
  text-align: center;
} */

/* address {
  font-style: normal;
}
.footermenu a {
  height: 1.5em;
  display: block;
} */

@media screen and (min-width: 600px) {
  section[id^="page"] {
    padding: 0 2em;
  }
  .panels {
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .panels section {
    margin: 0.5em;
    width: 25%;
  }
}